.git
.idea
data
data-test
build
.cache
docs
web/node_modules
web/build-web
web/build-app
web/test-results
web/playwright-report
extensions/lua-editor/node_modules
extensions/lua-editor/package
plugins
android/.gradle
*.exe
*.log
**/__pycache__
